/* ::-webkit-scrollbar {
  display: none;
} */

/* body {
    font-family: sans-serif;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1800px;
  padding: 0 80px;
  margin: auto;
}

/* navbar style */
.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: rgb(0, 0, 0, 0.5);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.navbar .logo a{
  color: white;
  font-size: 35px;
  font-weight: 600;

}

.navbar .logo a span {
  color: crimson;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;

}

.navbar .menu li:hover {
  border-color: rgb(228, 58, 6);
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em rgb(243, 93, 43);
  transform: translateY(-0.25em);
  cursor: pointer;
} 

.navbar li {
  margin-right: 20px;
  justify-content: center;
  background: none;
  color: orange;
  border: 2px solid;
  border-radius: 5%;
  padding: 1em 2em;
  font-size: 12px;
  transition: all 0.25s;
}

.navbar .menu li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  padding: 0.8rem;
}
.navbar .menu li a {
  margin: auto;
}
.navbar .menu li a:hover{
  color: crimson;
}
/* menu button stylin */

.menu-btn{
  color:  white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/* Home section style */
.Home {
  display: flex;
  background: url("Assets/Dark2.jpg") no-repeat center;
  height: 100vh;
  color: white;
  min-height: 500px;
  font-family: sans-serif;
  background-color: rgb(151, 148, 146);
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.Home .max-width {
  margin: auto 0 auto 40px;
}

.Home .home-content .text1{
  font-size: 50px;
}
.Home .home-content .text2{
  font-size: 140px;
  font-weight: 600;
  margin-left: -3px;
}
.Home .home-content .text3{
  font-size: 70px;
  margin: 5px 0;
}

.Home .home-content .text3 span{
  color: orange;
  font-weight: 500;
}

.Home .home-content a{
  display: inline-block;
  background: none;
  box-shadow: 0 0.5em 0.5em -0.4em rgb(243, 93, 43);
  color: Orange;
  font-weight: 500;
  font-size: 25px;
  padding: 12px 36px;
  border-radius: 0;
  transition: all 0.5s ease;
}

.Home .home-content a:hover{
  display: inline-block;
  background: rgb(228, 58, 6);
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  border-radius: 50px;
  box-shadow: 0 0.5em 0.5em -0.4em rgb(243, 93, 43);
  transform: translateY(-0.25em);
  transition: all 0.5s ease;
  opacity: 0.7;

}


/* responsive media query start */

/* @media (max-width: 1550px){
  .Home .max-width {
    margin-left: 0;
  }
} */

/* @media (max-width: 1500px){

  .Home .max-width {
    margin-left: 0;
  }
  .Home .home-content .text1 {
    font-size: 30px;
  }
  .Home .home-content .text2{
      font-size: 90px;
      font-weight: 600;
      margin-left: -3px;
  }
  .Home .home-content .text3{
      font-size: 45px;
      margin: 5px 0;
  }
} */

@media (max-width: 1200px){
  .Home .home-content .text1 {
    font-size: 40px;
  }
  .Home .home-content .text2{
      font-size: 80px;
      font-weight: 600;
      margin-left: -3px;
  }
  .Home .home-content .text3{
      font-size: 50px;
      margin: 5px 0;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }

  .navbar i.active:before{
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: black;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}

@media (max-width: 1104px){
  .Home .max-width {
    margin-left: 0 50px;
  }
}

@media (max-width: 800px){
  /* .max-width {
    padding: 0 50px;
  } */

  /* fixes the responsiveness for menu at 800px*/
  .Home .home-content .text1 {
    font-size: 20px;
  }
    .Home .home-content .text2{
      font-size: 50px;
      font-weight: 600;
      margin-left: -3px;
  }
    .Home .home-content .text3{
      font-size: 30px;
      margin: 5px 0;
  }
  .navbar ul{
  background-color: var(--shadow);
  display: grid;
  grid-gap: 50px;
  padding: 0;
  border-color: black;
  }

  .navbar .menu li {
    border-color: black;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }

  .navbar i.active:before{
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: black;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}


/* about section */

section.about{
  padding: 200px 0;
  background: url("Assets/White.jpg") no-repeat center center/cover;
  background-color: rgb(189, 176, 168);
  background-blend-mode:multiply;
  background-attachment: fixed;


}
.about {
  Font-Family: 'Poppins', sans-serif;
  height: 100vh;
}

.about .title {
  position: relative;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}


.about .title::before{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 180px;
  height: 5px;
  background: black;
  transform: translateX(-50%);
}
.about .title::after{
  position: absolute;
  bottom: -25px;
  left: 50%;
  font-size: 20px;
  color: orange;
  padding: 5px;
  background: white;
  transform: translateX(-50%);
}

.about .about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 600px;
  width: 600px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .small-text{
  font-size: 30px;
  margin-right: 10%;
  text-align: justify;
  padding-bottom: 20px;
}

.about .about-content .right .text{
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about .about-content .right .text span{
  color:Orange;
}

.about .about-content .right a {
  display: inline-block;
  background: rgb(31, 25, 15);
  box-shadow: 0 0.5em 0.5em -0.4em rgb(0, 0, 0);
  color: orange;
  font-weight: 500;
  font-size: 25px;
  padding: 12px 36px;
  border-radius: 0;
  transition: all 0.5s ease;
}

.about .about-content .right a:hover{
  display: inline-block;
  background: rgb(228, 58, 6);
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  border-radius: 50px;
  box-shadow: 0 0.5em 0.5em -0.4em rgb(0, 0, 0);
  transform: translateY(-0.25em);
  transition: all 0.5s ease;
  opacity: 0.7;

}
/* section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 105vh;
  scroll-snap-align: center;
} */

/* section#Resume {
  height: 100vh;
  background-color: white;
} */


/* section#About {
} */